<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eurostar technical test</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <div ng-app="basketApp" class="container">
        <div class="row">
            <div ng-controller="productsCtrl" class="col-md-8">
                <h3>Products</h3>
                <product ng-repeat="product in products" product="product" on-update="add(product)"></product>
            </div>
            <div ng-controller="basketCtrl" class="col-md-4">
                <h3>My basket</h3>
                <div class="row" ng-repeat="basket in baskets">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                {{basket.name}}
                            </div>
                            <div class="col-md-6">
                                £{{basket.price}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                Quantity:{{basket.quantity}}
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="js/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="application/javascript" src="js/basket.js"></script>
</body>
</html>